@font-face {
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
    src: url('/fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Open Sans';
    font-weight:lighter;
    font-style: normal;
    src: url('/fonts/OpenSans/OpenSans-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Open Sans';
    font-weight: bold;
    font-style: normal;
    src: url('/fonts/OpenSans/OpenSans-SemiBold.ttf') format('truetype');
}